* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

.btn-donate {
    text-decoration: none;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    color: aliceblue;
    padding: 10px 50px;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#dddde9a4, #0c0415c3), url(./images/donation9.jpg) no-repeat top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donate-today {
    margin-top: 50px;
    text-align: center;
    padding: 5%;
}

.TK-donate {
    display: flex;
    margin-left: 350px;

}

.tk {
    padding: 2%;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 2%;
    border-radius: 10px;
}

#twohundrad {
    background-color: rgb(189, 162, 162);
    border: 2px solid rgb(11, 11, 10);
    border-radius: 10px;

}

.other-amount {
    text-align: center;
}

Input {
    text-align: center;
    border: none;
    Width: 50%;
    Background: transparent;
    border-bottom: 1px solid grey;
}

.planwhole {
    display: flex;
    width: 80%;
    margin-left: 150px;
}

.plan {
    padding: 2%;
    background-color: antiquewhite;
    margin: 10px;
}

#food {
    background-color: rgb(123, 153, 177);
}

#education {
    background-color: darksalmon;
}

.guideline {
    display: flex;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    padding: 2%;
}

.guideline-p {
    margin-left: 100px;
}

.subscribe {
    text-align: center;
}

.email {
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    background-color: white;
    color: gray;
}

.subscribe div {
    display: inline-block;
    background-color: antiquewhite;
    padding: 40px 300px;
}

.subscribe a {
    border-radius: 5px;
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 8px 20px;
}


footer {
    margin-top: 70px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

footer h2 {
    color: tomato;
    font-family: 'Lobster', cursive;
}

footer p {
    margin-top: 20px;
}